.userProfileContainer {
  display: block;
  padding: 10px;
  border-radius: 2px;
  background: #efefef;
  margin: 20px auto;
}

.profileImg img {
  width: 150px;
  height: 150px;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

.profileDetails {
  margin-top: 10px;
}

.nav {
  background-color: #336683;
  padding: 25px;
}

.nav-tabs {
  border-bottom: none !important;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #336683 !important;
  background-color: #a4d6ef !important;
  border-color: transparent transparent #f3f3f3;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  color: #eee;
  font-size: 20px;
  background-color: #336683;
  border: 1px solid #a4d6ef;
  color: #a4d6ef;
}

.nav-item {
  border-radius: 0 !important;
  &:last-child {
    border-top-right-radius: .5rem !important;
    border-bottom-right-radius: .5rem !important;
  }
  &:first-child {
    border-top-left-radius: .5rem !important;
    border-bottom-left-radius: .5rem !important;
  }
}

.nav-tabs .nav-link.active {
  background-color: #a4d6ef !important;
}

.followersList {
    display: block;
    border:1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px #000;
    min-height: 200px;
    max-height: 200px;
}

.followersName {
    text-transform: capitalize;
}


.userMessage {
    margin: 50px auto;
    display: block;
    padding: 10px;
    border:1px solid #000;
    max-width: 300px;
}
.messageWarning {
    color: #FFF3CD;
}
.userImg {
    width: 50px;
    height: 50px;
    padding-right: 5px;
}

.linkStyling {
    color: #fff !important;
}
